@import '~bootstrap/scss/bootstrap';

body {
  background-image: url('public/money-background.jpg');
  background-size: cover;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.buttons {
  background: #558b2f;
  color: white;
}

.forms {
  background: #7cb342;
  width: 120px;
  font-size: 10pt;
}

form {
  margin: 20px;
}

h1 {
  text-align: center;
}

::placeholder {
  color: white;
}

#signInDiv {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#authMessage {
  margin: 20px;
}

#results {
  margin-top: 50px;
}
